body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.phone-video {
  outline: 2px solid black;
}

.sticker-element {
  will-change: top;
}

.nowrap {
  white-space: nowrap;
}

/* remove tap highlight from links */
a {
  -webkit-tap-highlight-color: transparent;
}

/* set tabular numbers */
.tagline.num-tagline {
  font-variant-numeric: tabular-nums;
}

/* change order of vantagens on mobile */
@media (max-width: 767px) {
  .vantagens-list-item:nth-of-type(1) {
    order: 1;
  }
  .vantagens-list-item:nth-of-type(2) {
    order: 4;
  }
  .vantagens-list-item:nth-of-type(3) {
    order: 2;
  }
  .vantagens-list-item:nth-of-type(4) {
    order: 5;
  }
  .vantagens-list-item:nth-of-type(5) {
    order: 3;
  }
  .vantagens-list-item:nth-of-type(6) {
    order: 6;
  }
}

/* set security card's left margin */
@media (min-width: 1231px) {
  .security-card {
    margin-left: -24px;
  }
}
@media (min-width: 992px) and (max-width: 1230px) {
  .security-card {
    margin-left: -2%;
  }
}

/* calculate security card's width */
@media (max-width: 991px) {
  ul li.flex-item.security-card {
    width: calc(50% - 15px);
    flex-basis: calc(50% - 15px);
  }
}
@media (max-width: 767px) {
  ul li.flex-item.security-card {
    width: 100%;
    flex-basis: 100%;
  }
}

/* calculate feedback slider navigation padding */
@media (min-width: 768px) and (max-width: 1230px) {
  .feedback-slider-nav {
    padding-right: calc(20.8333333333% - 98.5px);
  }
}
@media (min-width: 1231px) {
  .feedback-slider-nav {
    padding-right: 160px;
  }
}

/* feedback slider navigation styles */
.feedback-slider-nav div div span.progressBar {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  -webkit-transition: background-color 250ms cubic-bezier(.455, .03, .515, .955);
  -moz-transition: background-color 250ms cubic-bezier(.455, .03, .515, .955);
  -o-transition: background-color 250ms cubic-bezier(.455, .03, .515, .955);
  -ms-transition: background-color 250ms cubic-bezier(.455, .03, .515, .955);
  transition: background-color 250ms cubic-bezier(.455, .03, .515, .955);
}
.feedback-slider-nav div div span.progressBar .inProgress {
  background-color: #389eb1;
  width: 0%;
  height: 3px;
}

/* change feedback slider dots bg color on hover */
.feedback-slider-nav-dot-wrapper:hover span.progressBar {
  background-color: rgba(255, 255, 255, 1);
}

/* change color of placeholder text */
.w-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #647a92;
  opacity: 0.8;
}
.w-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #647a92;
  opacity: 0.8;
}
.w-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #647a92;
  opacity: 0.8;
}
.w-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #647a92;
  opacity: 0.8;
}

/* change nav on scroll */
/* change navbar background color */
.navbar.scrolled {
  background-color: #fff !important;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05), 0 1px 3px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05), 0 1px 3px 0 rgba(0, 0, 0, .1);
  -webkit-transition: background-color 200ms linear, box-shadow 200ms linear;
  -moz-transition: background-color 200ms linear, box-shadow 200ms linear;
  -o-transition: background-color 200ms linear, box-shadow 200ms linear;
  -ms-transition: background-color 200ms linear, box-shadow 200ms linear;
  transition: background-color 200ms linear, box-shadow 200ms linear;
}
.navbar {
  -webkit-transition: background-color 200ms linear, box-shadow 200ms linear;
  -moz-transition: background-color 200ms linear, box-shadow 200ms linear;
  -o-transition: background-color 200ms linear, box-shadow 200ms linear;
  -ms-transition: background-color 200ms linear, box-shadow 200ms linear;
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

/* change navbar link color*/
.nav-link.scrolled {
  color: rgba(100, 122, 146, 0.9) !important;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}
.nav-link {
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear
}
.nav-link.scrolled:hover {
  color: rgba(100, 122, 146, 1) !important;
}

/* change navbar highlight color and menu lines*/
.nav-link-highlight.scrolled,
.menu-line01.scrolled,
.menu-line02.scrolled,
.menu-line03.scrolled {
  background-color: #647a92 !important;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.nav-link-highlight,
.menu-line01,
.menu-line02,
.menu-line03 {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

/* Slick Slider */
.brand-img-container {
  outline: 0;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  margin: 0px 0px;
  outline: 0px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
